## >> Usable Items << ##

#enables the Brewmaster Spice item. This item allows players to instantly complete the fermentation process and provides a +10ql to the end result.
#for maximum quality, I suspect players will still be better off letting the standard process do its work, but if you just want that wine RIGHT NOW, this should be a good alternative.
enableBrewmasterSpice=true

#lets players craft the Brewmaster Spice item. Current crafting recipe uses basil, sage, and oregano.
enableBrewmasterSpiceCrafting=true

#Enables the shard of lorkhan. Useful as a reward from treasure chests or handed out as prizes at events, this magic rock will grant the user +1 to every characteristic.
enableShardOfLorkhan=true



## >> Mass Item and Tile Protection << ##

#Enables the use of the #addprotections and #removeprotections commands. Allows you to protect all items, structures, fences, and the tiles in a set radius.
#Protections include disabling decay, taking, spell targeting, bashing/damaging, locking, lockpicking, turning and moving (both regular and owner), painting,
#runes, improving, repairing, dragging, dropping, and putting.
#Example: #protectfromplayers 3
#will protect everything in a 3 tile radius. Works above and below ground. Will not differentiate different floors on a structure.
#Example: #removeprotection 0
#will remove protections from everything on the tile you are standing on.
enableProtectFromPlayers=true



## >> Racial Masks << ##

#Enables Brorrowind mask items for different races- Altmer, Argonian, Bosmer, Dunmer, Khajiit, and Orsimer.
enableRaceMasks=true

#Enables the crafting of racial masks. Currently crafted by using mixed grass with more mixed grass for ease of access.
enableRaceMasksCrafting=true



## >> Custom Emotes and Sounds << ##

#Enables the use of a new 'emote'. Currently just an action you can use on tiles or items, it will play the classic "YOU N'WAH" sound from Morrowind.
#Note: This currently has some tongue in cheek descriptors. If your playerbase has no sense of humor, or you maintain a strict level of roleplay, just keep it disabled.
enableNwahEmote=true

#Enables the use of a special sound/music action: activate your gm wand and right click on it to send everyone in render distance to Vietnam.
enableFortunateSon=true



## >> Decorative Items << ##

#Enables the decorative 'facade' structures. Place the item down, set proper restrictions, and then build something inside/around. Not craftable.
#Note: Some models will be too small to have proper interiors built, you may need to set up missions to teleport players underground to mimic the internal cells in Morrowind.
#Note: Many of the structures will have strange names you will need to replace when creating/placing them.
#The names for (most) buildings were left the same as they appear in the morrowind .bsa file for ease of reference.
#List of all items: CensusAndExcise,commonhousetall02,ex_common_tower_thatch,ex_de_shack02,ex_de_shack03,ex_dwrv_observ00,ex_nord_house_01,ex_nord_house_02,ex_nord_house_03
#ex_velothi_entrance_02,exdwrventer00,Hlaalu Council,in_dwrv_corr2_00,in_dwrv_corr2_04,in_dwrv_corr3_01,Ministry Of Truth,Redoran Council,
#Siltstrider,Telvani Council,Tradehouse,Vivec_Canton,Vivec_Canton2,Vivec_highFane,Vivec_Temple,Vivec_Temple_Base
enableStructures=true

#Enables decorative items. Includes dwemer mugs, a suspicious puzzle box, and a tapestry of the most handsome game developer ever. Not craftable.
#Full item list: Dwemer Puzzle Box, Pillow, Dwemer Mug, Dwemer Goblet, Dwemer Gear, Dwemer Coherer, Dwemer Scraps, Dwemer Barrel, Character Sheet, Dragon Tapestry, Todd Tapestry
enableDecorations=true



## >> Equipment and Weapons << ##

#Enables the Dark Brotherhood helm. Currently just a leather helmet. Not craftable.
enableDarkBrotherhoodHelm=true

#Note on weapons: These are divided into sections based on their style: Daedric, Dwemer, and Glass.
#Each weapon type will have the option to enable the item existing on the server, as well as enabling crafting by players
#Each individual weapon will have settings to configure weapon stats individually:
#Currently, all dwemer and glass weapons are set to mimic their iron counterparts, so as to be a cosmetic option for players.
#Daedric weapons currently have a flat +1 damage for onehanders and +2 for twohanders as they require additional materials and have a higher crafting difficulty(50)

# >> Daedric Weapons << #

#Enables Daedric Weapons for use on your server.
enableDaedricWeapons=true

#Enables player crafting for Daedric weapons. Note that this currently requires soulstealing from wyvernmod to be enabled so players can collect souls.
enableDaedricWeaponsCrafting=true

# > Individual Weapon Stats < #
#Note: Defaults include the +1 onehanded and +2 twohanded damage. Scythe and Sickle default to 0 skill penalty for weapon use.
# Daedric Battleaxe (two handed axe/huge axe) Stats:
daedricBattleaxeDamage=14
daedricBattleaxeSpeed=6
daedricBattleaxeCrit=0.05
daedricBattleaxeParry=0.2

# Daedric Claymore (two handed sword) Stats:
daedricClaymoreDamage=11
daedricClaymoreSpeed=5
daedricClaymoreCrit=0.05
daedricClaymoreParry=1.0

# Daedric Daikatana (two handed sword) Stats:
daedricDaikatanaDamage=11
daedricDaikatanaSpeed=5
daedricDaikatanaCrit=0.05
daedricDaikatanaParry=1.0

# Daedric Katana (longsword) Stats:
daedricKatanaDamage=6.5
daedricKatanaSpeed=4.0
daedricKatanaCrit=0.01
daedricKatanaParry=1.0

# Daedric Longsword Stats:
daedricLongswordDamage=6.5
daedricLongswordSpeed=4.0
daedricLongswordCrit=0.01
daedricLongswordParry=1.0

# Daedric Mace (medium maul) Stats:
daedricMaceDamage=9.0
daedricMaceSpeed=5.0
daedricMaceCrit=0.03
daedricMaceParry=1.0

# Daedric Scythe Stats:
daedricScytheDamage=11.0
daedricScytheSpeed=5.0
daedricScytheCrit=0.08
daedricScytheParry=0.2
daedricScytheSkillpenalty=0.0

# Daedric Sickle Stats:
daedricSickleDamage=7.0
daedricSickleSpeed=3.0
daedricSickleCrit=0.02
daedricSickleParry=0.2
daedricSickleSkillpenalty=0.0

# Daedric Spear (steel spear/metal long spear) Stats:
daedricSpearDamage=11.0
daedricSpearSpeed=5.0
daedricSpearCrit=0.06
daedricSpearParry=1.0

# Daedric Staff Stats:
daedricStaffDamage=10.0
daedricStaffSpeed=4.0
daedricStaffCrit=0.0
daedricStaffParry=1.0

# Daedric Wakazashi (short sword) Stats:
daedricWakazashiDamage=5.0
daedricWakazashiSpeed=3.0
daedricWakazashiCrit=0.1
daedricWakazashiParry=1.0

# Daedric Waraxe (large axe) Stats:
daedricWaraxeDamage=7.5
daedricWaraxeSpeed=4.0
daedricWaraxeCrit=0.03
daedricWaraxeParry=0.3

# Daedric Warhammer (two handed maul/large maul) Stats:
daedricWarhammerDamage=13.0
daedricWarhammerSpeed=6.0
daedricWarhammerCrit=0.03
daedricWarhammerParry=1.0

# >> Dwemerc Weapons << #

#Enables Dwemer Weapons for use on your server.
enableDwemerWeapons=true

#Enables player crafting for Dwemer weapons. Currently uses the same recipes as their iron counterpart.
enableDwemerWeaponsCrafting=true

# Dwemer Battleaxe (two handed axe/huge axe) Stats:
dwemerBattleaxeDamage=12.0
dwemerBattleaxeSpeed=6.0
dwemerBattleaxeCrit=0.05
dwemerBattleaxeParry=0.2

# Dwemer Claymore (two handed sword) Stats:
dwemerClaymoreDamage=9.0
dwemerClaymoreSpeed=5.0
dwemerClaymoreCrit=0.05
dwemerClaymoreParry=1.0

# Dwemer Halbred Stats:
dwemerHalbredDamage=9.0
dwemerHalbredSpeed=5.0
dwemerHalbredCrit=0.06
dwemerHalbredParry=1.0

# Dwemer Longspear (steel spear/metal long spear) Stats:
dwemerLongspearDamage=9.0
dwemerLongspearSpeed=5.0
dwemerLongspearCrit=0.06
dwemerLongspearParry=1.0

# Dwemer Mace (medium maul) Stats:
dwemerMaceDamage=8.0
dwemerMaceSpeed=5.0
dwemerMaceCrit=0.03
dwemerMaceParry=1.0

# Dwemer Shortsword Stats:
dwemerShortswordDamage=4.0
dwemerShortswordSpeed=3.0
dwemerShortswordCrit=0.1
dwemerShortswordParry=1.0

# Dwemer Waraxe (Large Axe) Stats:
dwemerWaraxeDamage=6.5
dwemerWaraxeSpeed=4.0
dwemerWaraxeCrit=0.03
dwemerWaraxeParry=0.3

# Dwemer Warhammer (Large Maul) Stats:
dwemerWarhammerDamage=11
dwemerWarhammerSpeed=6.0
dwemerWarhammerCrit=0.03
dwemerWarhammerParry=1.0

# >> Glass Weapons << #

#Enables Glass Weapons for use on your server.
enableGlassWeapons=true

#Enables player crafting for Glass weapons. Currently uses the same recipes as their iron counterpart.
enableGlassWeaponsCrafting=true

# Glass Claymore (two handed sword) Stats:
glassClaymoreDamage=9.0
glassClaymoreSpeed=5.0
glassClaymoreCrit=0.05
glassClaymoreParry=1.0

# Glass Dagger (short sword) Stats:
glassDaggerDamage=4.0
glassDaggerSpeed=3.0
glassDaggerCrit=0.1
glassDaggerParry=1.0

# Glass Halberd Stats:
glassHalberdDamage=9.0
glassHalberdSpeed=5.0
glassHalberdCrit=0.06
glassHalberdParry=1.0

# Glass Longsword Stats:
glassLongswordDamage=5.5
glassLongswordSpeed=4.0
glassLongswordCrit=0.01
glassLongswordParry=1.0

# Glass Staff Stats:
glassStaffDamage=8.0
glassStaffSpeed=4.0
glassStaffCrit=0.0
glassStaffParry=1.0

# Glass Waraxe Stats:
glassWaraxeDamage=6.5
glassWaraxeSpeed=4.0
glassWaraxeCrit=0.03
glassWaraxeParry=0.3